:root {
  --primary-white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --reserv-bg-color: #c4c4c4;
  --dimm-bg-color: #f5f4fa;
  --current-item-color: #2196f3;
  --btn-hover-color: #188ce8;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --soc-icon-bg-color: rgba(255, 255, 255, 0.1);
  --transitio-duration: 250ms;
  --trasition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*::::::::::::::Body Styles:::::::::::::::::::::::*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
h2 {
  margin-bottom: 50px;
}
svg {
  fill: currentColor;
}
.section__container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}
.list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.image {
  display: block;
}
.link {
  text-decoration: none;
}
.section__title--hide {
  display: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title {
  margin-top: 0;
  color: var(--title-text-color);
}
.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--current-item-color);
  cursor: pointer;
}

/* <<<<<< Page header >>>>> */

.header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Logo */
.page-header {
  border-bottom: 1px solid var(--border-color);
}
.header-logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}
.header-logo-colorized {
  color: var(--current-item-color);
}

/* Site nav */
.nav-group {
  display: flex;
  align-items: center;
}
.site-nav {
  margin-left: 93px;
 }
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
.site-nav__link {
  display: block;
  padding: 32px 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transitio-duration) var(--trasition-timing-function);
}
.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link--current {
  color: var(--current-item-color);
}
.site-nav__item {
  position: relative;
}
.site-nav__link--current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--current-item-color);
}

/* Contact */
.contact {
  align-items: center;
  margin-left: auto;
}
.contact__item + .contact__item {
  margin-left: 50px;
}
.contact__link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  transition: color var(--transitio-duration) var(--trasition-timing-function);
}
.contact__icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
.contact__icon--envelope {
  margin-right: 10px;
}
.contact__icon--phone {
  margin-right: 7px;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--current-item-color);
}

/*<<<<<< Page Footer >>>>>>>>*/
.footer-container {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}
/* Logo */
.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}
.footer-logo-colorized {
  color: var(--current-item-color);
}

/* Address */

.footer-address {
  display: flex;
  flex-flow: column;
  margin-left: auto;
}
.location {
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-white-color);
}
.ftr-contact{
  flex-flow: column;
}
.ftr-contact__link {
font-style: normal;
line-height: 1.71;
color: var(--footer-adress-color);
}
.ftr-contact__link:hover,
.ftr-contact__link:focus {
  color: var(--primary-white-color);
}

/* Socials Block */
.ftr-socials-wrapper {
  margin-left: 70px;
}
.appeal {
  margin-bottom: 20px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.socials {
  justify-content: center;
}
.socials__item + .socials__item {
  margin-left: 10px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--soc-icon-bg-color);
  transition: background-color var(--transitio-duration) var(--trasition-timing-function);
}
.socials__item:hover .socials__link {
  background-color: var(--current-item-color);
}
.socials__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
  transition: fill var(--transitio-duration) var(--trasition-timing-function);
}
.socials__item:hover .socials__icon {
  fill: var(--primary-white-color);
}
/* Subscription Form */
.subscription {
  display: flex;
  flex-direction: column;
  width: 570px;
  margin-left: 93px;
}

.subcsription__title {
  margin-bottom: 20px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.signup {
  display: flex;
}
.signup__mail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  justify-content: center;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.button-primary--footer {
  margin-left: 12px;
}
.signup-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-color: transparent;
}
/* <<<<< Page Main >>>>> */

/* Hero */
.hero {
  padding: 200px 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: 1600px auto;
  background-position: center;
  background-color: var(--reserv-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero_bg_img.jpg);
  color: var(--primary-white-color);
  text-align: center;
}

.hero__title {
  display: inline-block;
  max-width: 696px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-primary--hero {
  margin: 0 auto;
  transition: background-color var(--transitio-duration) var(--trasition-timing-function);
}
.button-primary--hero:hover,
.button-primary--hero:focus {
  background-color: var(--btn-hover-color);
}
/* Our advantages */
.advantage {
  justify-content: center;
}
.advantage__item {
  width: 270px;
}
.advantage__item + .advantage__item {
  margin-left: 30px;
}
.advantage__icon {
  display: block;
  width: 70px;
  height: 70px;
}
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--dimm-bg-color);
}
.advantage__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantage__text{
  margin: 0;
  padding: 0;
}
/* Features */
.section--none-top {
  padding-top: 0;
}
.feature {
  justify-content: center;
}
.feature__item {
  position: relative;
}
.feature__item + .feature__item {
  margin-left: 30px;
}
.feature-wrapper {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.feature__text{
  margin: 0;
  padding: 0;
}
/* Our team */
.section--dimm {
  background-color: var(--dimm-bg-color);
}
.member {
  justify-content: center;
 }
.member-wrapper {
  padding: 30px 0;
}
.member__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.member__item + .member__item {
  margin-left: 30px;
}
.member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
}
.member__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Socials modifyer */
.socials__icon--grey {
   fill: var(--icon-color);
   transition: fill var(--transitio-duration) var(--trasition-timing-function);
}
/* Our Clients  */
.client{
  justify-content: center;
 }
.client__item + .client__item {
  margin-left: 30px;
}
.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--transitio-duration) var(--trasition-timing-function);
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition: fill var(--transitio-duration) var(--trasition-timing-function);
}
.client__link:hover {
  border-color: var(--current-item-color);
}
.client__link:hover .client__icon {
  fill: var(--current-item-color);
}

/* Modal Window */
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transitio-duration) var(--trasition-timing-function),
    transform var(--transitio-duration) var(--trasition-timing-function);
}
.backdrop--is-hidden {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}
.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px 39px 41px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.window__close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-image: url(../images/close.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-image var(--transitio-duration) var(--trasition-timing-function);
}
.window__close-button:hover,
.window__close-button:focus {
  background-image: url(../images/close-active.svg);
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__field__lable {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form__field__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transitio-duration) var(--trasition-timing-function);
}
.form__field__input:focus {
  border-color: var(--current-item-color);
}
.input-wrapper {
  position: relative;
}
.form__field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill var(--transitio-duration) var(--trasition-timing-function);
}
.form__field__input:focus + .form__field__icon {
  fill: var(--current-item-color);
}
.form__comment{
  display: flex;
  flex-direction: column;
}
.form__comment__lable {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__comment__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transitio-duration) var(--trasition-timing-function);
}
::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment__textarea:focus {
  border-color: var(--current-item-color);
}
.form__checkbox {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.form__checkbox__label {
  display: inline-block;
}
.form__checkbox__contract-link {
  color: var(--current-item-color);
}
.button-primary--modal-wind {
  margin: 0 auto;
}
.form__checkbox__standart {
  appearance: none;
  position: absolute;
}
.form__checkbox__custom {
  display: inline-block;
  min-width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  overflow: hidden;
  transition: background-color var(--transitio-duration) var(--trasition-timing-function),
    background-image var(--transitio-duration) var(--trasition-timing-function),
    border-color var(--transitio-duration) var(--trasition-timing-function);
}
.form__checkbox__standart:checked + .form__checkbox__custom {
  border-color: transparent;
  background-color: var(--current-item-color);
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

/* <<<<< Page Portfolio >>>>> */

/* Filter buttons */
.filter {
  justify-content: center;
  margin-bottom: 50px;
  }
.filter__item + .filter__item {
  margin-left: 8px;
}
.button-secondary {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--title-text-color);
  background-color: var(--dimm-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color var(--transitio-duration) var(--trasition-timing-function),
    color var(--transitio-duration) var(--trasition-timing-function),
    box-shadow var(--transitio-duration) var(--trasition-timing-function);
}
.button-secondary:hover,
.button-secondary:focus,
.button-secondary--current {
  color: var(--primary-white-color);
  background-color: var(--current-item-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Portfolio list */
.portfolio {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio__item {
  margin-bottom: 30px;
  margin-right: 30px;
  width: 370px;
  height: 404px;
}
.portfolio__link {
  display: block;
}
.portfolio__image{
  display: block;
}
.image-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  transform: translateY(100%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--transitio-duration) var(--trasition-timing-function),
    box-shadow var(--transitio-duration) var(--trasition-timing-function);
}
.overlay__text{
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}
.portfolio__link:hover .overlay {
  transform: translateY(0%);
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.text-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.portfolio__title {
  margin-bottom: 4px;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__filter {
  margin-top: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
